<section class="benefits-section" id="benefits-section">
  <div class="benefits-container">
    <h2 class="benefits-main-title">Benefits of working with me</h2>

    <div class="benefits-list-container">
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-img" id="user-01-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>

          <h3 class="benefits-item-title">Expertise</h3>
          <p class="benefits-paragraph">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>

        <li class="benefits-item">
          <svg class="benefits-img" id="message-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-message"></use>
          </svg>

          <h3 class="benefits-item-title">Communication</h3>
          <p class="benefits-paragraph">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>

        <li class="benefits-item">
          <svg class="benefits-img" id="brush-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-brush"></use>
          </svg>

          <h3 class="benefits-item-title">Art</h3>
          <p class="benefits-paragraph">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>

        <li class="benefits-item">
          <svg class="benefits-img" id="hourglass-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-hourglass"></use>
          </svg>

          <h3 class="benefits-item-title">Urgent execution</h3>
          <p class="benefits-paragraph">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>

      <button class="benefits-button">Order the project</button>
    </div>
  </div>
</section>
