<section class="covers">
  <h2 class="visually-hidden">Covers</h2>
  <ul class="item">
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/1.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/2.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/3.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/4.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/5.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/6.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/7.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/8.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/9.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/10.webp" alt="Cover 1" />
      </a>
    </li>
  </ul>
  <ul class="item">
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/10.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/9.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/8.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/7.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/6.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/5.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/4.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/3.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/2.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/1.webp" alt="Cover 1" />
      </a>
    </li>
  </ul>
  <ul class="item">
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/1.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/2.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/3.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/4.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/5.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/6.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/7.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/8.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/9.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/10.webp" alt="Cover 1" />
      </a>
    </li>
  </ul>
  <ul class="item">
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/10.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/9.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/8.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/7.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/6.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/5.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/4.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/3.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/2.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/1.webp" alt="Cover 1" />
      </a>
    </li>
  </ul>
  <ul class="item">
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/1.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/2.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/3.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/4.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/5.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/6.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/7.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/8.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/9.webp" alt="Cover 1" />
      </a>
    </li>
    <li class="list-item">
      <a href="https://goit.global/ua/" target="_blank">
        <img class="covers-img" src="../images/covers/10.webp" alt="Cover 1" />
      </a>
    </li>
  </ul>
</section>
