<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="profile">
        <a href="../index.html">
          <img class="headerLogo" src="../images/logo.webp" alt="My photo" />
          <svg width="84" height="19">
            <use href="../images/icons.svg#icon-logo-title"></use>
          </svg>
        </a>
      </div>
      <nav class="headerMenu">
        <div class="headerBurger">
          <svg width="28" height="28">
            <use href="../images/icons.svg#icon-burger"></use>
          </svg>
        </div>
        <!-- 
        <p>Menu</p>
        <ul class="headerNavigation">
          <li class="headerNavItem"><a class="headerNavLink">About me</a></li>
          <li class="headerNavItem"><a class="headerNavLink">Benefits</a></li>
          <li class="headerNavItem"><a class="headerNavLink">Projects</a></li>
          <li class="headerNavItem"><a class="headerNavLink">FAQ</a></li>
        </ul>
        <button class="headerOrder">Order the project</button>
        <button>
            <svg width="28" height="28">
            <use href="../images/icons.svg#icon-close"></use>
          </svg></button>-->
      </nav>
    </header>
  </body>
</html>
