<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="headerMarkup">
        <ul class="headerItems">
          <li class="headerProfileItem">
            <div class="headerProfile">
              <a href="../index.html">
                <img
                  class="headerLogo"
                  src="../images/logo.webp"
                  alt="My photo"
                />
              </a>
              <div class="icon-logo-title">
                <svg width="84" height="19" fill="#fafafa">
                  <use href="../images/icons.svg#icon-logo-title"></use>
                </svg>
              </div>
            </div>
          </li>
          <li class="headerItemMenu">
            <div class="headerBurger">
              <svg width="28" height="28" fill="#fafafa">
                <use href="../images/icons.svg#icon-burger"></use>
              </svg>
            </div>
          </li>
          <li class="headerMenu">
            <div class="headerMenuStyles">
              <p class="headerMenuTitle">Menu</p>
              <nav class="headerMenuNav">
                <ul class="headerNavigation">
                  <li class="headerNavItem">
                    <a class="headerNavLink">About me</a>
                  </li>
                  <li class="headerNavItem">
                    <a class="headerNavLink">Benefits</a>
                  </li>
                  <li class="headerNavItem">
                    <a class="headerNavLink">Projects</a>
                  </li>
                  <li class="headerNavItem">
                    <a class="headerNavLink">FAQ</a>
                  </li>
                </ul>
              </nav>
            </div>
          </li>
          <li class="headerOrderItem">
            <a href="#work-together" class="headerOrderBtn"
              >Order the project</a
            >
          </li>
        </ul>
      </div>
      <div class="headerMobMenu hidden">
        <svg class="mobMenuCloseBttn" width="28" height="28" fill="#fafafa">
          <use href="../images/icons.svg#icon-brush"></use>
        </svg>
        <nav class="headerMenuNav">
          <ul class="headerMobNavigation">
            <li class="headerMobNavItem">
              <a class="headerMobNavLink">About me</a>
            </li>
            <li class="headerMobNavItem">
              <a class="headerMobNavLink">Benefits</a>
            </li>
            <li class="headerMobNavItem">
              <a class="headerMobNavLink">Projects</a>
            </li>
            <li class="headerMobNavItem">
              <a class="headerMobNavLink">FAQ</a>
            </li>
          </ul>
        </nav>
        <a href="#work-together" class="headerMobOrderBtn"
          >Order the project
        </a>
      </div>
    </header>
  </body>
</html>
