<section class="hero">
  <div class="heroContainer">
    <h1 class="heroTitle">
      Hello.<br />
      I'm Fullstack developer LLoyd Jefferson.
    </h1>
    <ul class="heroSocial">
      <li class="heroSocialItem">
        <a
          class="heroSocialLink"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG
        </a>
      </li>
      <li class="heroSocialItem">
        <a
          class="heroSocialLink"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="heroSocialItem">
        <a
          class="heroSocialLink"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="heroSocialItem">
        <a
          class="heroSocialLink"
          href="https://github.com/Liberlay/project_team_js_11"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="heroSocialItem">
        <a class="heroSocialLink" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
