<section class="projects-section" id="projects">
  <div class="projects-container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper">
      <ul class="swiper-wrapper projects-cards-gallery">
        <li class="swiper-slide project-card">
          <div class="projects-card-upper">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-text">
              Programming across borders: ideas, technologies, innovations
            </p>
            <a
              class="projects-link"
              href="https://github.com/Liberlay/project_team_js_11"
              target="_blank"
              >See project
            </a>
          </div>
          <div class="projects-card-lower">
            <div class="projects-img-wrp">
              <img
                class="projects-img"
                srcset="./images/projects/1_2x.webp 2x"
                src="./images/projects/1.webp"
                alt="Project Read Journey"
                width="614"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide project-card">
          <div class="projects-card-upper">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-text">
              Programming across borders: ideas, technologies, innovations
            </p>
            <a
              class="projects-link"
              href="https://github.com/Liberlay/project_team_js_11"
              target="_blank"
              >See project
            </a>
          </div>
          <div class="projects-card-lower">
            <div class="projects-img-wrp">
              <img
                class="projects-img"
                srcset="./images/projects/2_2x.webp 2x"
                src="./images/projects/2.webp"
                alt="Project Petlove"
                width="614"
              />
            </div>
          </div>
        </li>
        <li class="swiper-slide project-card">
          <div class="projects-card-upper">
            <ul class="projects-list">
              <li class="projects-item">#react</li>
              <li class="projects-item">#js</li>
              <li class="projects-item">#node js</li>
              <li class="projects-item">#git</li>
            </ul>
            <p class="projects-text">
              Programming across borders: ideas, technologies, innovations
            </p>
            <a
              class="projects-link"
              href="https://github.com/Liberlay/project_team_js_11"
              target="_blank"
              >See project
            </a>
          </div>
          <div class="projects-card-lower">
            <div class="projects-img-wrp">
              <img
                class="projects-img"
                srcset="./images/projects/3_2x.webp 2x"
                src="./images/projects/3.webp"
                alt="Project VocabBuilder"
                width="614"
              />
            </div>
          </div>
        </li>
      </ul>
      <div class="projects-ctrl-btns">
        <button class="projects-btn-prev" type="button">
          <svg class="projects-btn-prev-icon" width="68" height="68">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="projects-btn-next" type="button">
          <svg class="projects-btn-next-icon" width="68" height="68">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
