<footer class="work-together" id="work-together">
  <div class="bg">
    <div class="container">
      <div class="work-together-title-wrapper">
        <picture>
          <source
            srcset="/images/logo.webp 1x, /images/logo_2x.webp@2x.webp 2x"
            media="(min-width: 1440px)"
            width="44"
            height="44"
          />
          <img
            class="work-together-logo"
            width="44"
            height="44"
            src="/images/logo.webp"
            alt="avatar"
          />
        </picture>
        <h2 class="work-together-title">
          Let's <span class="work-together-accent"> work </span>
          <span class="work-together-title-part"> together </span>
        </h2>
      </div>
      <div class="work-together-form-wrapper">
        <form class="work-together-form">
          <input
            class="work-together-form-input email"
            type="email"
            name="email"
            placeholder="clients@gmail.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            autocomplete="off"
            required
          />

          <input
            class="work-together-form-input comment"
            type="text"
            name="comments"
            placeholder="comments"
            maxlength="35"
            autocomplete="off"
            required
          />

          <button class="work-together-form-btn" type="submit">Send</button>
        </form>
      </div>
      <address class="contacts">
        <ul class="work-together-contacts">
          <li class="work-together-contacts-link">
            <a
              class="work-together-link-email"
              href="mailto:lloydjefferson@gmail.com"
              target="_blank"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="work-together-contacts-link">
            <a
              class="work-together-link-tel"
              href="tel:+3801111111111"
              target="_blank"
              >+380 11 1111 11 11
            </a>
          </li>
        </ul>
      </address>
      <!-- Modal -->
      <div class="work-together-backdrop">
        <div class="work-together-modal">
          <button class="work-together-modal-close-btn" type="button">
            <svg class="work-together-modal-close-svg" width="22" height="22">
              <use href="/images/icons.svg#icon-close"></use>
            </svg>
          </button>

          <h3 class="work-together-modal-head-text">
            Thank you for your interest in cooperation!
          </h3>

          <p class="work-together-modal-text">
            The manager will contact you shortly to discuss further details and
            opportunities for cooperation. Please stay in touch.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
