/* Evgen Fedorchenko */

/* Svg Rotation */
.about-me-svg {
  transition: 400ms ease-in-out; /* Плавный переход */
}

.rotated {
  stroke: var(--accent);
  transform: rotate(180deg); /* Поворот на 180 градусов */
}
/* Svg Rotation */

/* Upper part of About me Section */
.about-me {
  margin: 0 auto;
  padding-bottom: 64px;
  max-width: 375px;
}

.about-me .container {
  padding: 0 16px;
}

.about-me-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.about-me-bg-text {
  padding: 32px 32px 220px 32px;
  width: 100%;
  height: 500px;
  border-radius: 24px;

  background-color: #242527;
}

.about-me-text {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary);
}

.about-me-red {
  color: var(--accent);
}

.about-me-grey {
  color: #fafafa66;
}

.about-me-foto {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 96px;
    max-width: 768px;
  }

  .flex-container {
    margin-bottom: 64px;
  }

  .about-me .container {
    padding: 0 32px;
  }

  .about-me-bg-text {
    padding: 64px 64px 436px 64px;
    height: 700px;
  }

  .about-me-foto {
    border-radius: 24px;
    height: 700px;
    object-fit: cover;
  }

  .about-me-text {
    font-size: 38px;
    line-height: calc(40 / 38);
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-bottom: 164px;
    max-width: 1440px;
  }

  .about-me .container {
    padding: 0 32px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 96px;
  }

  .about-me-bg-text {
    margin-bottom: 0;
    padding: 64px 64px 436px 64px;
    width: 680px;
  }

  .about-me-foto {
    margin-bottom: 0;
    border-radius: 24px;
    width: 680px;
    height: 700px;
  }
}

/* Upper part of About me Section */

/* Accordion menu */

.about-me .accordion {
  margin-bottom: 32px;
}

.about-me .accordion-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me .accordion-container .ac {
  margin: 0;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
}

.about-me .accordion-container .ac-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: #fafafa66;
}

.about-me .accordion-container .ac .ac-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fafafa66;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
}
.about-me .accordion-container > .ac .ac-trigger::after {
  display: none;
}

.about-me .ac-svg {
  width: 18px;
  height: 18px;
  transition: 400ms ease-in-out;
}

.about-me .active {
  transform: rotate(180deg);
}

.about-me .accordion-container .ac-panel .ac-text {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--primary);
  font-family: 'Inter Tight', sans-serif;
}

.about-me .accordion-container :first-child .ac-panel :first-child {
  margin-bottom: 32px;
}

.about-me .accordion-container :first-child .ac-panel :last-child {
  margin-bottom: 20px;
}

.about-me .ac-panel:not(:last-child) {
  margin-bottom: 10px;
}

.about-me .ac-panel:is(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-me .accordion {
    margin-bottom: 64px;
  }

  .about-me .ac-header {
    margin-bottom: 8px !important;
  }

  .about-me .accordion-container :first-child .ac-panel :first-child {
    margin-bottom: 16px;
  }

  .accordion-container :first-child .ac-panel :last-child {
    margin-bottom: 32px;
  }

  .ac-panel:is(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me .accordion {
    margin-bottom: 96px;
  }

  .about-me .accordion-container :first-child .ac-panel :first-child {
    margin-bottom: 32px;
  }

  .about-me .ac {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-me .ac-header {
    justify-content: space-between;
  }

  .about-me .ac-panel {
    align-self: flex-end;
    width: 50%;
  }

  .about-me .ac-text {
    max-width: 610px;
  }
}

/* Accordion menu */

/* Evgen Fedorchenko */

/* Danyil Shevchenko */
.about-me-slider-container {
  position: relative;
}
.about-me-slider {
  display: flex;
  align-items: center;
  width: 260px;
  overflow: hidden;
}

.about-me-slider-wrapper {
  display: flex;
  list-style: none;
}

.about-me-slider-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 130px;
  width: 130px;
  height: 130px;
  color: var(--primary);
  transition: 400ms ease-in-out;
}

.about-me-slider-slide-active {
  background-color: var(--accent);
}

.about-me-slider svg {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: var(--background-hero);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.about-me-slider svg:hover {
  stroke: var(--accent);
}

.about-me-slider-button-next {
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .about-me-slider {
    width: 600px;
  }
  .about-me-slider-slide {
    width: 200px;
    height: 200px;
  }
  .about-me-slider svg {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1440px) {
  .about-me-slider {
    width: 1200px;
  }
  .about-me-slider-slide {
    width: 200px;
    height: 200px;
  }
}
/* Danyil Shevchenko */
