@import url('/css/header.css');
@import url('/css/hero.css');
@import url('/css/about-me.css');
@import url('/css/benefits.css');
@import url('/css/projects.css');
@import url('/css/faq.css');
@import url('/css/covers.css');
@import url('/css/reviews.css');
@import url('/css/work-together.css');

:root {
  --background: #1c1d20;
  --background-alt: #242527;
  --background-hero: #3b3b3b;
  --accent: #ed3b44;
  --primary: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

img {
  display: block;
}

svg {
  color: var(--primary);
  fill: var(--primary);
  stroke: var(--primary);
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Variable.ttf);
}
